In [1]:
# Dataset_ Link = "https://www.kaggle.com/datasets/overload10/adult-census-dataset"

In [2]:
# Importing required libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Ignoring warnings

import warnings 
warnings.filterwarnings(action='ignore')

In [3]:

dataset = pd.read_csv("adult.csv")
dataset

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
# We are trying to build a function, with the functionality that it can filter our dataframe, given any specific column values.

In [5]:
dataset['workclass'] = dataset['workclass'].str.strip()
dataset['education'] = dataset['education'].str.strip()

In [6]:
dup2 = dataset[(dataset['age']== 25) & (dataset['workclass']== 'Private') & (dataset['education']== 'Bachelors')]
dup2.head(50)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
288,25,Private,371987,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K
398,25,Private,86872,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,55,United-States,>50K
504,25,Private,181054,Bachelors,13,Never-married,Sales,Not-in-family,White,Female,0,0,40,United-States,<=50K
1471,25,Private,98283,Bachelors,13,Never-married,Prof-specialty,Own-child,Asian-Pac-Islander,Male,0,0,40,United-States,<=50K
1518,25,Private,212495,Bachelors,13,Never-married,Exec-managerial,Own-child,White,Male,0,1340,40,United-States,<=50K
1755,25,Private,169323,Bachelors,13,Married-civ-spouse,Exec-managerial,Own-child,White,Female,0,0,40,United-States,<=50K
2114,25,Private,90291,Bachelors,13,Never-married,Exec-managerial,Own-child,White,Male,0,0,40,United-States,<=50K
2123,25,Private,441591,Bachelors,13,Never-married,Tech-support,Own-child,White,Male,0,0,40,United-States,<=50K
2197,25,Private,192149,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
3127,25,Private,131976,Bachelors,13,Never-married,Exec-managerial,Own-child,White,Male,0,0,55,United-States,<=50K
3355,25,Private,159732,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States,<=50K
3494,25,Private,40915,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,>50K
3549,25,Private,251915,Bachelors,13,Never-married,Sales,Own-child,White,Female,0,0,40,United-States,<=50K
3814,25,Private,209970,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
3919,25,Private,22546,Bachelors,13,Never-married,Transport-moving,Own-child,White,Male,0,0,60,United-States,<=50K
4124,25,Private,511331,Bachelors,13,Never-married,Sales,Not-in-family,White,Male,0,0,38,United-States,<=50K
4325,25,Private,308144,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,Mexico,<=50K
4481,25,Private,168403,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,1741,40,United-States,<=50K
4672,25,Private,262778,Bachelors,13,Never-married,Sales,Not-in-family,White,Female,6849,0,50,United-States,<=50K
4854,25,Private,74883,Bachelors,13,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Female,0,1092,40,Philippines,<=50K
4881,25,Private,308144,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,Mexico,<=50K
5349,25,Private,168943,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,30,United-States,>50K
5366,25,Private,120268,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,70,United-States,<=50K
5500,25,Private,277444,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
5535,25,Private,49092,Bachelors,13,Never-married,Other-service,Own-child,White,Male,0,0,40,United-States,<=50K
5638,25,Private,190107,Bachelors,13,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
5654,25,Private,189590,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Male,0,0,40,United-States,<=50K
5867,25,Private,176729,Bachelors,13,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,60,United-States,>50K
5907,25,Private,257910,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,50,United-States,<=50K
6676,25,Private,310864,Bachelors,13,Never-married,Tech-support,Not-in-family,Black,Male,0,0,40,?,<=50K
6839,25,Private,254746,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,United-States,<=50K
6936,25,Private,34402,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,1590,60,United-States,<=50K
7313,25,Private,36984,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,<=50K
7385,25,Private,102476,Bachelors,13,Never-married,Farming-fishing,Own-child,White,Male,27828,0,50,United-States,>50K
7778,25,Private,102460,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
7818,25,Private,199224,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K
7887,25,Private,34803,Bachelors,13,Never-married,Exec-managerial,Own-child,White,Female,0,0,20,United-States,<=50K
8416,25,Private,213412,Bachelors,13,Never-married,Tech-support,Unmarried,White,Male,0,0,40,United-States,<=50K
8589,25,Private,105693,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
8680,25,Private,177499,Bachelors,13,Never-married,Craft-repair,Own-child,White,Male,0,1590,35,United-States,<=50K
9051,25,Private,208591,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
9098,25,Private,234263,Bachelors,13,Never-married,Sales,Not-in-family,White,Male,0,0,40,United-States,<=50K
9144,25,Private,131463,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
9189,25,Private,321205,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,4101,0,35,United-States,<=50K
9438,25,Private,193820,Bachelors,13,Never-married,Sales,Not-in-family,White,Female,0,1876,40,United-States,<=50K
9486,25,Private,92093,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,20,United-States,<=50K
9653,25,Private,134113,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,30,United-States,<=50K
10677,25,Private,356344,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
11086,25,Private,339324,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Male,0,0,40,United-States,<=50K
11156,25,Private,40512,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,3674,0,30,United-States,<=50K

In [7]:
# We can also construct a single function to accomplish this task

import pandas as pd
from functools import reduce

def preprocess_and_filter(dataset, filters=None):
    for column in dataset.columns:
        if dataset[column].dtype == object:
            dataset[column] = dataset[column].str.strip()

    if filters:
        filter_mask = reduce(lambda x, y: x & y, [dataset[column] == value for column, value in filters])
        return dataset[filter_mask]
    else:
        return None

In [8]:
filtered_dataset = preprocess_and_filter(dataset, filters=[('age', 25), ('workclass', 'Private'),('relationship','Own-child')])
print(filtered_dataset.head())

      age workclass  fnlwgt     education  education-num  \
278    25   Private  193787  Some-college             10
485    25   Private  189775  Some-college             10
733    25   Private  332702     Assoc-voc             11
1150   25   Private  241626       HS-grad              9
1380   25   Private  208999  Some-college             10

             marital-status     occupation relationship   race     sex  \
278           Never-married   Tech-support    Own-child  White  Female
485   Married-spouse-absent   Adm-clerical    Own-child  Black  Female
733           Never-married  Other-service    Own-child  White  Female
1150          Never-married  Other-service    Own-child  White    Male
1380              Separated   Adm-clerical    Own-child  White    Male

      capital-gain  capital-loss  hours-per-week        country salary
278              0             0              40  United-States  <=50K
485              0             0              20  United-States  <=50K
733              0             0              15  United-States  <=50K
1150             0             0              30  United-States  <=50K
1380             0             0              40  United-States  <=50K

In [9]:
# Update Function

import pandas as pd
from functools import reduce

def preprocess_and_filter(dataset, filters=None):
    for column in dataset.columns:
        if dataset[column].dtype == object:
            dataset[column] = dataset[column].str.strip()

    if filters:
        filter_mask = reduce(lambda x, y: x & y, [dataset[column] == value for column, value in filters])
        filtered_dataset = dataset[filter_mask]
        return filtered_dataset, filters
    else:
        return None, filters

In [10]:
# With this updated function, you will get both the filtered dataset and the filter criteria used as output. Here's how you can use the updated function:

filtered_dataset, filters = preprocess_and_filter(dataset, filters=[('age', 25), ('workclass', 'Private'),('relationship','Own-child')])
print("Filter criteria:", filters)
print(filtered_dataset.head())

# Filter criteria: [('age', 25), ('workclass', 'Private'), ('relationship', 'Own-child')]

Filter criteria: [('age', 25), ('workclass', 'Private'), ('relationship', 'Own-child')]
      age workclass  fnlwgt     education  education-num  \
278    25   Private  193787  Some-college             10
485    25   Private  189775  Some-college             10
733    25   Private  332702     Assoc-voc             11
1150   25   Private  241626       HS-grad              9
1380   25   Private  208999  Some-college             10

             marital-status     occupation relationship   race     sex  \
278           Never-married   Tech-support    Own-child  White  Female
485   Married-spouse-absent   Adm-clerical    Own-child  Black  Female
733           Never-married  Other-service    Own-child  White  Female
1150          Never-married  Other-service    Own-child  White    Male
1380              Separated   Adm-clerical    Own-child  White    Male

      capital-gain  capital-loss  hours-per-week        country salary
278              0             0              40  United-States  <=50K
485              0             0              20  United-States  <=50K
733              0             0              15  United-States  <=50K
1150             0             0              30  United-States  <=50K
1380             0             0              40  United-States  <=50K