In [ ]:
https://stackoverflow.com/questions/66886130/how-to-find-rows-with-white-spaces-in-a-dataframe-using-python

In [1]:
import pandas as pd
import re
import numpy as np

In [2]:
# create a sample DataFrame
df = pd.DataFrame({'A': ['   ', 'foo', 'bar', '  baz  '],
                   'B': ['', '  bar  ', 'foo', '  '],
                   'C': ['baz', 'qux', '  fg ', 'quux']})

In [3]:
df

         A        B      C
0                      baz
1      foo    bar      qux
2      bar      foo    fg
3    baz              quux

In [7]:
failed_columns = []
for col in ['A', 'B', 'C']:
    if (df[col].astype(str).str.strip() == '').any():
        failed_columns.append(col)

df['pass/fail'] = np.where((df[['A', 'B', 'C']].astype(str).apply(lambda x: x.str.strip() == '')).any(axis=1), 'fail', 'pass')
df['failed_columns'] = ','.join(failed_columns) if failed_columns else np.nan

KeyError: 'A'

         A        B      C pass/fail failed_columns
0                      baz      fail            A,B
1      foo    bar      qux      pass            A,B
2      bar      foo    fg       pass            A,B
3    baz              quux      fail            A,B

In [5]:
failed_rows = df[df['pass/fail'] == 'fail']
failed_columns = ['A', 'B', 'C']
print(failed_rows[failed_columns])

         A   B     C
0                baz
3    baz        quux

In [6]:
df= pd.read_csv("adult.csv")

In [9]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'salary'],
      dtype='object')

In [10]:
failed_columns = []
for col in [df.columns]:
    if (df[col].astype(str).str.strip() == '').any():
        failed_columns.append(col)

df['pass/fail'] = np.where((df[[df.columns]].astype(str).apply(lambda x: x.str.strip() == '')).any(axis=1), 'fail', 'pass')
df['failed_columns'] = ','.join(failed_columns) if failed_columns else np.nan

AttributeError: 'DataFrame' object has no attribute 'str'

In [ ]:
If you want to avoid repetition in there, you can wrap the masks in a function:

def is_blank_mask(df, column):
    return df[column].astype(str).str.fullmatch(r"\s*")
and then

df1['pass/fail'] = np.where(is_blank_mask(df1, 'Score1') |  is_blank_mask(df1, 'Score2'),
                            'fail',
                            'pass')

In [ ]:
# detect rows that contain only whitespace characters
rows_with_whitespace = df[(df.astype(str).replace('\s+', '', regex=True).replace('', np.nan) == np.nan).all(axis=1)]

In [ ]:
import pandas as pd
import re

# create a sample DataFrame
df = pd.DataFrame({'A': ['   ', 'foo', 'bar', '  baz  '],
                   'B': ['', '  bar  ', 'foo', '  '],
                   'C': ['baz', 'qux', '   ', 'quux']})

# detect rows that contain only whitespace characters
rows_with_whitespace = df[(df.astype(str).replace('\s+', '', regex=True).replace('', np.nan) == np.nan).all(axis=1)]

print(rows_with_whitespace)

In [ ]:
import pandas as pd
import re

# create a sample DataFrame
df = pd.DataFrame({'A': ['   ', 'foo', 'bar', '  baz  '],
                   'B': ['', '  bar  ', 'foo', '  '],
                   'C': ['baz', 'qux', '   ', 'quux']})

In [ ]:
# convert all elements in the DataFrame to strings
df = df.applymap(lambda x: str(x) if type(x) in [int, float, str] else '')
df.dtyes

In [ ]:
# detect rows that contain only whitespace characters
rows_with_whitespace = df.loc[df.apply(lambda x: (re.match(r'^\s*$', x.str.strip()) is not None)).all(axis=1)]

print(rows_with_whitespace)

In [ ]:
import pandas as pd
import re

# create a sample DataFrame
df = pd.DataFrame({'A': ['   ', 'foo', 'bar', '  baz  '],
                   'B': ['', '  bar  ', 'foo', '  '],
                   'C': ['baz', 'qux', '   ', 'quux']})

# convert all elements in the DataFrame to strings
df = df.applymap(str)

# detect rows that contain only whitespace characters
rows_with_whitespace = df.loc[df.apply(lambda x: (re.match(r'^\s*$', x.str.strip()) is not None)).all(axis=1)]

print(rows_with_whitespace)

In [ ]:
import pandas as pd
import re

# create a sample DataFrame
df = pd.DataFrame({'A': ['   ', 'foo', 'bar', '  baz  '],
                   'B': ['', '  bar  ', 'foo', '  '],
                   'C': ['baz', 'qux', '   ', 'quux']})

# convert all elements in the DataFrame to strings
df = df.astype(str)

# detect rows that contain only whitespace characters
rows_with_whitespace = df.loc[df.apply(lambda x: (re.match(r'^\s*$', x.str.strip()) is not None)).all(axis=1)]

print(rows_with_whitespace)

In [ ]:
import pandas as pd
import re

# create a sample DataFrame
df = pd.DataFrame({'A': ['   ', 'foo', 'bar', '  baz  '],
                   'B': ['', '  bar  ', 'foo', '  '],
                   'C': ['baz', 'qux', '   ', 'quux']})

# convert all elements in the DataFrame to strings
df = df.astype(str)

# detect rows that contain only whitespace characters
rows_with_whitespace = df.loc[df.apply(lambda x: (re.match(r'^\s*$', x.str.strip()) is not None)).all(axis=1)]

print(rows_with_whitespace)

In [ ]:
import pandas as pd
import re

# create a sample DataFrame
df = pd.DataFrame({'A': ['   ', 'foo', 'bar', '  baz  '],
                   'B': ['', '  bar  ', 'foo', '  '],
                   'C': ['baz', 'qux', '   ', 'quux']})

# detect rows that contain only whitespace characters
rows_with_whitespace = df.loc[df.apply(lambda x: (re.match(r'^\s*$', x.str.strip()) is not None)).all(axis=1)]

print(rows_with_whitespace)