In [1]:
import pandas as pd
import re
import numpy as np

In [5]:
# create a sample DataFrame
df = pd.DataFrame({'A': ['   ', 'foo', 'bar', '  baz  '],
                   'B': ['', '  bar  ', 'foo', '  '],
                   'C': ['baz', 'qux', '  fg ', 'quux']})

In [6]:
df['A'] = df['A'].astype(str)
df['B'] = df['B'].astype(str)
df['C'] = df['C'].astype(str)

In [11]:
df

         A        B      C
0                      baz
1      foo    bar      qux
2      bar      foo    fg
3    baz              quux

In [7]:
# convert all elements in the DataFrame to strings
df = df.applymap(lambda x: str(x) if type(x) in [int, float, str] else '')
df.dtypes

A    object
B    object
C    object
dtype: object

In [8]:
#  df.applymap(str)
# df.dtypes

A    object
B    object
C    object
dtype: object

In [9]:
# detect rows that contain only whitespace characters
rows_with_whitespace = df.loc[df.apply(lambda x: all(re.match(r'^\s*$', i.strip()) is not None for i in x), axis=1)]

In [10]:
print(rows_with_whitespace)

Empty DataFrame
Columns: [A, B, C]
Index: []

In [ ]:
# detect rows that contain only whitespace characters
rows_with_whitespace = df[(df.astype(str).replace('\s+', '', regex=True).replace('', np.nan) == np.nan).all(axis=1)]

In [ ]:
import pandas as pd
import re

# create a sample DataFrame
df = pd.DataFrame({'A': ['   ', 'foo', 'bar', '  baz  '],
                   'B': ['', '  bar  ', 'foo', '  '],
                   'C': ['baz', 'qux', '   ', 'quux']})

# detect rows that contain only whitespace characters
rows_with_whitespace = df[(df.astype(str).replace('\s+', '', regex=True).replace('', np.nan) == np.nan).all(axis=1)]

print(rows_with_whitespace)

In [ ]:
import pandas as pd
import re

# create a sample DataFrame
df = pd.DataFrame({'A': ['   ', 'foo', 'bar', '  baz  '],
                   'B': ['', '  bar  ', 'foo', '  '],
                   'C': ['baz', 'qux', '   ', 'quux']})

In [ ]:
# convert all elements in the DataFrame to strings
df = df.applymap(lambda x: str(x) if type(x) in [int, float, str] else '')
df.dtyes

In [ ]:
# detect rows that contain only whitespace characters
rows_with_whitespace = df.loc[df.apply(lambda x: (re.match(r'^\s*$', x.str.strip()) is not None)).all(axis=1)]

print(rows_with_whitespace)

In [ ]:
import pandas as pd
import re

# create a sample DataFrame
df = pd.DataFrame({'A': ['   ', 'foo', 'bar', '  baz  '],
                   'B': ['', '  bar  ', 'foo', '  '],
                   'C': ['baz', 'qux', '   ', 'quux']})

# convert all elements in the DataFrame to strings
df = df.applymap(str)

# detect rows that contain only whitespace characters
rows_with_whitespace = df.loc[df.apply(lambda x: (re.match(r'^\s*$', x.str.strip()) is not None)).all(axis=1)]

print(rows_with_whitespace)

In [ ]:
import pandas as pd
import re

# create a sample DataFrame
df = pd.DataFrame({'A': ['   ', 'foo', 'bar', '  baz  '],
                   'B': ['', '  bar  ', 'foo', '  '],
                   'C': ['baz', 'qux', '   ', 'quux']})

# convert all elements in the DataFrame to strings
df = df.astype(str)

# detect rows that contain only whitespace characters
rows_with_whitespace = df.loc[df.apply(lambda x: (re.match(r'^\s*$', x.str.strip()) is not None)).all(axis=1)]

print(rows_with_whitespace)

In [ ]:
import pandas as pd
import re

# create a sample DataFrame
df = pd.DataFrame({'A': ['   ', 'foo', 'bar', '  baz  '],
                   'B': ['', '  bar  ', 'foo', '  '],
                   'C': ['baz', 'qux', '   ', 'quux']})

# convert all elements in the DataFrame to strings
df = df.astype(str)

# detect rows that contain only whitespace characters
rows_with_whitespace = df.loc[df.apply(lambda x: (re.match(r'^\s*$', x.str.strip()) is not None)).all(axis=1)]

print(rows_with_whitespace)

In [ ]:
import pandas as pd
import re

# create a sample DataFrame
df = pd.DataFrame({'A': ['   ', 'foo', 'bar', '  baz  '],
                   'B': ['', '  bar  ', 'foo', '  '],
                   'C': ['baz', 'qux', '   ', 'quux']})

# detect rows that contain only whitespace characters
rows_with_whitespace = df.loc[df.apply(lambda x: (re.match(r'^\s*$', x.str.strip()) is not None)).all(axis=1)]

print(rows_with_whitespace)