In [2]:
import pandas as pd
import re

In [3]:
# create a sample DataFrame
df = pd.DataFrame({'A': ['   ', 'foo', 'bar', '  baz  '],
                   'B': ['', '  bar  ', 'foo', '  '],
                   'C': ['baz', 'qux', '   ', 'quux']})

In [4]:
df

         A        B     C
0                     baz
1      foo    bar     qux
2      bar      foo
3    baz             quux

In [5]:
# convert all elements in the DataFrame to strings
df = df.applymap(lambda x: str(x) if type(x) in [int, float, str] else '')

In [6]:
# detect rows that contain only whitespace characters
rows_with_whitespace = df.loc[df.apply(lambda x: all(re.match(r'^\s*$', i.strip()) is not None for i in x), axis=1)]

In [7]:
print(rows_with_whitespace)

Empty DataFrame
Columns: [A, B, C]
Index: []